.query_container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  height: 100%;
  width: 100%;
  /* padding-left: 10px; */
  /* background-color: #eee; */
  overflow-y: scroll;
  margin-top: 10px;
  margin-left: 0;
}

.query_container::-webkit-scrollbar {
  width: 10px;
}

.query_container::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.query_container::-webkit-scrollbar-track {
  background-color: #eee;
}
.clear_button {
  font-size: 10px;
}

.card {
  border-radius: 2px !important;
  border-color: #eee;
  width: 100%;
  margin: 0px;
}
.header {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
